/* #465B28 */
body{
    color: #fff;
}
.container{
    max-width: 1400px;
    color: #000
}

.header__container {
    margin: 0;
    padding:  0;
}

.header__menu {
    display: flex;
    justify-content: space-around;

    background: #283B0D;    
}

.logo {
    align-self: center;
}

.menu__list{
    padding: 0;
    list-style: none;
    display: flex;
}
.menu__link {
    padding: 20px;

    color: #fff;
    text-decoration: none;
}
.menu__link:hover{
    color: #A9758D;
}

.header__info {
    display: flex;
    justify-content: center;    
}
.photo {
    margin-right: 40px;
}
.photo img{
    border-radius: 50%;
}
.info {
    align-self: center;

    color: #000;
    line-height: 2;    
}
.info span{
    font-weight: bold;  
}
.main .container{
    display: flex;
    justify-content: center;
    
    padding: 40px 0;

    color: #000;
}
.title{
    width: 15%;

    align-self: center;

    margin: 0;
    padding: 0;

    text-align: right;

    border: 1px solid #000;
}

.description{
    width: 40%;

    margin-left: 40px;

    color:#000;

    border: 1px solid #000;
}

.skills__list {
    list-style: none;

    margin: 0;
    padding: 0;
}

.code__description pre{
    white-space: pre-line;
}